################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RSS2.0/RSS2.0/.vs/RSS
/RSS2.0/*/obj
/.vs

